# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Local files
instance/
*.sqlite3
