<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Return to Office Calculator</title>
</head>
<body>
    <h1>Return to Office Calculator</h1>
        <form action="/calculate" method="post">
            <label for="base_salary">Enter your current salary (rounding to the nearest whole number and with no commas):</label><br>
            <input type="text" id="base_salary" name="base_salary" required><br><br>

            <label for="commute">Enter (in miles) how far the work location is from your house:</label><br>
            <input type="text" id="commute" name="commute" required><br><br>

            <label for="lunch_percent">What percentage of the time do you believe you will buy lunch? (e.g., enter 0.5 for 50%):</label><br>
            <input type="text" id="lunch_percent" name="lunch_percent" required><br><br>

            <label for="new_clothes">The bureau of labor statistics estimates that the average white collar employee spends $1700
            on new clothes each year. We will add that in for you unless you check the box stating that you do not want this
            added</label><br>
            <input type="checkbox" id="new_clothes" name="new_clothes" value="on"><br><br>

            <input type="submit" value="Calculate">
        </form>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
</body>
</html>